
.top{
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: black;
    font-size: 15px;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: black;
}
nav li{
    float: left;
    position: relative; 
}
nav a{
    display: block;
    padding: 8px 16px;
    background-color: black;
    color: white;
    text-decoration: none;
}
nav a:hover{
    background-color: white;
    color: black;
}
nav ul.dropdown{
    display: none;
    position: absolute;
    left: 0;
    min-width: 160px;
   /* margin: 0;
    padding: 0;
    z-index: 1;*/
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}
nav ul.dropdown li a{
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    background-color: white!important;
    color: black!important; 
}
nav ul.dropdown li{
    float: none;
}
nav ul.dropdown li a:hover{
    background-color: #ccc!important;
    color: black!important; 
}
nav li:hover ul.dropdown{
    display: block!important;
}
.logo{
    background-color: #009688!important;
}
.logo:hover,.hover:hover{
    background-color: #ccc!important;
}
.right{
    float: right!important;
}
li.right a:hover{
    background-color: #009688!important;
    color: white!important;
}
.marginleft{
    margin-left: 8px;
}
.marginright{
    margin-right: 8px;}
.card::after,.team::after,.row::after,.row1::after,.row2::after,.row3::after,nav ul::after,.footer::after{
    content: "";
    display: table;
    clear: both;
}
.image{
    max-width: 100%;
    height: auto;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
    bottom: 0;
    left:0;
    padding: 16px;
    color: white;
}
.black{
    background-color: black;
    padding:8px 16px;
}
.team{
    padding: 32px 0;
    text-align: center;
}
.team h2{
    padding: 16px 0;
}
.row{
    padding: 32px 8px;
}
.col25{
    width: 25%;
    float: left;
    padding: 0 8px;
}
.team img{
    border-radius: 50%;
}
.team img:hover{
    opacity: 0.6;
}
.row1{
    background-color: #333333;
    padding: 64px 8px;
}
.row1 h3{
    padding: 16px 0;
}
.white{
    color: white;
}
.white p{
    margin: 10px 0;
}
.customer{
    color: black;
    background-color: white;
    padding: 8px 16px;
}
.customer p{
    margin: 10px 0;
}
img{
    vertical-align: middle;
}
.circle{
    top: -28px;
    right: 24px;
    color: #fff !important;
    background-color: #009688 !important;
    font-size: 24px!important;
    border-radius: 50%;
}
.circle:hover{
    background-color: #ccc!important;
    color: black!important;
}
.pricing{
    text-align: center;
}
.pricing h2{
    margin: 10px 0;
}
.row2{
    padding: 0 8px;
    margin-top:32px
}
.col33{
    float: left;
    width: 33.333%;
    padding: 0 8px;
    text-align: center;
}
.col33 ul{
    background-color: white;
    padding: 0;
    margin: 0;
    list-style-type: none;
    border: 1px solid #ccc;
}
.col33 ul:hover{
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.col33 li{
    border-bottom: 1px solid #ddd;
    padding: 16px;
}
.firstli{
    font-size: 24px;
    padding: 32px 16px!important;
    background-color: black;
    color: white;
}
.lastli{
    background-color: #f1f1f1;
    padding: 24px 0;
}
.lastli button{
    border:none;
    background-color: #009688;
    padding: 12px 24px;
    color: white;
    font: inherit;

}
.contact{
    background-color: #f1f1f1;
    padding: 64px 0;
}
.row3{
    padding: 0 16px;
}
.col42{
    float: left;
    width: 42%;
}
.col58{
    float: left;
    width: 58%;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.col42 span{
    border-bottom: 6px solid #009688;
    font-size: 24px; 
}
.col42 p{
    margin: 12px 0;
}
.col58 input[type=text]{
    border: none;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 8px 16px;
}
.col58 input[type=checkbox]{
    width: 24px;
    height: 24px;
    position: relative;
    top: 6px;
}
.col58 input[type=submit]{
    border: none;
    background-color: black;
    color: white;
    padding: 8px 16px;
    font: inherit;
    margin-bottom: 16px;
}
.label{
    margin: 16px 0;
}
.footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 32px 16px;
}
.footer p{
    font-size: 15px;
    padding: 16px 0;
}
.footer p a{
    color: white;
}
.icon a{
    text-decoration: none;
    color: white;
    display: inline-block;
    padding:8px 16px;
    background-color: #009688;
    font-size: 18px;
}
.marktop{
    position: relative;
    bottom: 100px;
    z-index: 1;
    float: right;
}
.marktop a{
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 8px 16px;
}
.marktop a:hover{
   background-color: #ccc;
   color: black;
}

.gototop{
    display: none;
    color: white!important;
    background-color: #009688!important;
    padding: 8px 16px!important;
}
.marktop:hover .gototop{
    display: inline-block!important;
}
@media screen and (max-width:601px){
    .col25,.col33,.col42,.col58{
        width: 100%;
    }
    .col33{
        margin-bottom: 16px;
    }
    .displaysmall{
        display: none;
    }
    .display{
        display: block!important;
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    line-height: 1.5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
}
h1{
    font-size: 36px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 24px;
}
h4{
    font-size: 20px;
}